{% extends 'news/base.html' %}

{% block title %} Foydalanuvchi parolni tiklash {% endblock title %}

{% block content %}

<h1>Parolni tiklash</h1>
<p>Parolingizni o'zgartirish uchun quyidagi formani to'ldiring:</p>

{% if validlink %}

<p>Iltimos, yangi parolni kiriting:</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'password_reset_complete' %}" enctype="submit">Parolni almashtirish</a>
</form>

{% else %}
<p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalanilgan yoki ishlatilish vaqti o'tib ketgan b o'lishi mumkin.</p>

{% endif %}

{% endblock %}