{% extends 'news/base.html' %}
{% load static %}

{% block title %} Mahalliy yangiliklar {% endblock title %}

{% block content %}

<section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Xorij</span></h2>
            <div class="single_post_content_left">
              <ul class="spost_nav">
                {% for forg in xorij %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{{ forg.get_absolute_url }}" class="media-left"> <img alt="" src="{{ forg.image.url }}"> </a>
                      <div class="media-body"> <a href="{{ forg.get_absolute_url }}" class="catg_title">{{ forg.title }}</a> </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                {% for forg in xorij %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{{ forg.get_absolute_url }}" class="media-left"> <img alt="" src="{{ forg.image.url }}"> </a>
                      <div class="media-body"> <a href="{{ forg.get_absolute_url }}" class="catg_title">{{ forg.title }}</a> </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Ommabop xabarlar</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="{% url 'about_page' %}" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="{% url 'about_page' %}" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="{% url 'about_page' %}" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="{% url 'about_page' %}" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="{% url 'about_page' %}" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="{% url 'about_page' %}" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="{% url 'about_page' %}" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="{% url 'about_page' %}" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>

{% endblock %}